html {
  font-size: $font-size;
  background-color: $light_blue;
}

body {
  margin: 0;
  height: 100%;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $text;
}

* {
  box-sizing: border-box;
  font-family: $font-family;
}

aside {
  display: none;
  background-color: $grey;
  overflow-y: auto;

  @include media(md) {
    display: initial;
  }
}

header, footer {
  grid-column: span 2;
  background-color: $light_blue;
  color: $white;

  .Link {
    &:hover {
      color: $white;
    }
    
    &.active {
      font-weight: 700;
      color: $white;
    }
  }
}

main {
  background-color: $white;
}

header, footer, main, aside {
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

a, p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}