html {
  font-size: $font-size;

  @include media(2K) {
    font-size: $font-size-2K;
  }
}

body {
  margin: 0;
  height: 100%;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $text;
}

* {
  box-sizing: border-box;
  font-family: $font-family;
}

aside {
  display: none;
  background-color: $grey;
  overflow-y: auto;

  @include media(md) {
    display: initial;
  }
}

header, footer {
  grid-column: span 2;
  background-color: $light_blue;
  color: $white;

  .Link {
    color: $white;
    text-decoration: none;

    &:hover, &.active {
      color: $white;
    }

    &.active {
      font-weight: 700;
      text-decoration: none;
    }
  }
}

header .Link:hover {
  text-decoration: none;
}

footer .Link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

main {
  background-color: $white;
}

main, aside {
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;

  li {
    line-height: 1.5rem;
  }
}

a, p {
  margin: 0;
}

p {
  line-height: 1.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}