.LoginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../assets/wallpaper.png");
  background-image: image-set(
    url("../assets/wallpaper_mobile.png"),
    url("../assets/wallpaper.png")
  );
  background-size: cover;
  background-position: right;

  h1 {
    line-height: 2rem;
    color: $white;
  }
}

.Page {
  display: grid;
  grid-template-columns: minmax(100px, 300px) minmax(200px, 1fr);
  grid-template-rows: 55px auto 55px;
  min-height: 100vh;
}