.Comment {
  display: grid;
  gap: .25rem 1rem;
  grid-template-columns: 2rem auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
  'picture heading'
  '. content';

  padding: 1rem;
  background: whitesmoke;
  border-radius: 7px;
  margin-bottom: 1rem;

  &-picture {
    display: inline-block;
    grid-area: picture;
    width: 2rem;
    height: 2rem;
  }

  &-heading {
    grid-area: heading;
  }

  &-content {
    grid-area: content;

  }
}