.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.Header-hamburger--open + aside{
    display: block;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.Header-hamburger--open ~ main {
    max-height: calc(100vh - 110px);
    overflow: hidden;
  }

  &-menu {
    .Button-text {
      display: none;

      @include media(md) {
        display: initial;
      }
    }

    .Header-hamburger {
      @include media(md) {
        display: none;
      }
    }
  }
}