.Table {
  &:not(:empty) {
    border: 1px solid whitesmoke;
  }

  .Table-row:nth-child(odd) {
    background-color: whitesmoke;
  }

  .Table-row {
    display: flex;
    justify-content: space-between;
    padding: .75rem;
  }
  
  a.Table-row:hover {
    background-color: rgb(232, 232, 232);
  }
}