.Table {
  &:not(:empty) {
    border: 1px solid whitesmoke;
  }

  .Table-row:nth-child(odd) {
    background-color: whitesmoke;
  }

  .Table-row {
    display: flex;
    justify-content: space-between;
    padding: .75rem;
    
    & > * {
      min-height: 32px;
      
      @include media(2K) {
        min-height: 36px;
      }
    }
    
    & > a {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  
  a.Table-row:hover {
    background-color: rgb(232, 232, 232);
  }
}