.Table {
  &:not(:empty) {
    border: 1px solid $grey;
  }

  .Table-row:nth-child(odd) {
    background-color: $grey;
  }

  .Table-row {
    display: flex;
    justify-content: space-between;
    padding: .75rem;
    
    & > * {
      min-height: 32px;
      
      @include media(2K) {
        min-height: 36px;
      }
    }
    
    & > a {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .Table-row:hover,
  .Table-row:nth-child(odd):hover {
    background-color: #e8e8e8;
  }
}